.homeContainer {
  background: linear-gradient(to right, #ecfaff, #c8eeff);
}

.imageContainer {
  background-image: url("../../images/triangle.png");
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
.imageContainer::after {
  transform: scale(1.1);
  transition: transform ease 0.5s;
}
.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.diagramarm1 {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  transform: translateY(-270px) translateX(-160px);
}

.diagramarm2 {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  transform: translateY(125px) translateX(-180px);
}

.diagramarm3 {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  transform: translateY(0px) translateX(170px);
}
.diagramarm1 .arrortxt {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;

  color: #d67a41;
  font-size: 1.1rem;
  position: absolute;
  text-align: center;
  left: -130%;
  top: -24%;
}

.diagramarm2 .arrortxt {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #103d80;
  font-size: 1.1rem;
  text-align: center;
  position: relative;
  left: -100%;
  top: -33px;
}
.diagramarm3 .arrortxt {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #005233;
  font-size: 1.1rem;
  text-align: center;
  position: relative;
  right: -50%;
}

.circle {
  opacity: 1;
}
.codeflow {
  position: absolute;
  width: 300px;
  height: 80px;
  background: #3d458d00;
  transform: rotate(30deg);
  margin-top: 45px;
  margin-left: -219px;
}

.analytiq {
  position: absolute;
  width: 300px;
  height: 70px;
  background: #468d3d00;
  transform: rotate(-30deg);
  margin-top: -185px;
  margin-left: -173px;
}

.dimensionx {
  position: absolute;
  width: 300px;
  height: 70px;
  background: #8d8d3d00;
  transform: rotate(-90deg);
  margin-top: -12px;
  margin-left: -13px;
}
@media (max-width: 823px) {
  .diagramarm1 {
    display: none;
  }
  .diagramarm2 {
    display: none;
  }
  .diagramarm3 {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .imageContainer {
    background-size: 60vh;
  }

  .codeflow {
    width: 214px;
    height: 62px;
    margin-top: 23px;
    margin-left: -160px;
  }

  .analytiq {
    width: 215px;
    height: 46px;
    margin-top: -120px;
    margin-left: -132px;
  }

  .dimensionx {
    width: 208px;
    height: 40px;
    margin-top: -12px;
    margin-left: -13px;
  }
}
