.Container {
	position: absolute;
	top: 2%;
	color: #103d80;
	font-family: "Ubuntu", sans-serif;
	padding: 20px 20px;
	width: 25%;
	z-index: 10000;
	border-radius: 10px;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: -25%;
}

.Container .CloseContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 5px;
	width: max-content;
}

.Container p {
	width: 90%;
}

.Container span {
	cursor: pointer;

	font-size: 0.8rem;
}

@media (max-width: 768px) {
	.Container {
		width: 40%;
		left: 150%;
	}
}

@media (max-width: 425px) {
	.Container {
		font-size: 0.6rem;
		width: 60%;
	}
}

@media (max-width: 320px) {
	.Container {
		width: 75%;
	}
}
