.aboutSection {
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
}

.image {
	width: 30vw;
	height: auto;
	object-fit: cover;
}

.aboutContainer {
	padding: 80px 80px;
	height: min-content;
}

.title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title p {
	font-size: 1.5rem;
	font-weight: 500;
	color: #373737;
}

.title h1 {
	font-size: 3rem;
	font-weight: bold;
	color: #373737;
	margin-top: -15px;
}

.description {
	margin-top: 100px;
}

.description p {
	font-size: 1.2rem;
	font-weight: 500;
	color: #373737;
	margin-bottom: 30px;
}

.registerButton {
	padding: 0.7rem 2rem;
	font-size: 1.2rem;
	border: 6px solid #1cd49f;
	border-radius: 0.8rem;
	background: none;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	margin-top: 80px;
}

.registerButton:hover {
	background: #1cd49f;
	color: white;
}

@media screen and (max-width: 580px) {
	.image {
		display: none;
	}

	.aboutContainer {
		padding: 80px 30px;
	}
}

@media (max-width: 425px) {
	.title h1 {
		font-size: 2.5rem;
	}
	.description p {
		font-size: 1rem;
		text-align: justify;
	}
}

@media (max-width: 375px) {
	.title h1 {
		font-size: 2.2rem;
	}
	.description p {
		font-size: 0.8rem;
	}
	.aboutContainer {
		padding: 80px 10px;
	}
}
