.homeContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
    background: url("../../images/DimensionX/homeBG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainTitleWrapper {
    /* position: absolute; */
    display: flex;

    justify-content: center;
    width: 100vw;
    margin-top: 35vh;
}

.titleContainer {
    width: 20vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../images/DimensionX/X.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -120px;
}    

.title {
    font-size: 7rem;
    font-weight: 700;
    color: #595959;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
}

.subTextContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.subTextContainer p:nth-child(1) {
    font-size: 22px;
    color: #555555;
}
.subTextContainer p:nth-child(2) {
    font-size: 26px;
    font-weight: bold;
    color: #26B995;
}
.subTextContainer p:nth-child(3) {
    font-size: 20px;
    color: #555555;
}
.subTextContainer p:nth-child(4) {
    font-size: 22px;
    font-weight: bold;
    color: #555555;
}

.buttonContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.button {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    background-color: #F3FFF8;
    outline: none;
    display: flex;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    border: none;
}

.button a {
    color: #26B995;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    
}

.button a::first-line {
    color: #7E7E7E;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    
}
