.container {
  position: relative;
  height: 100vh;
  padding: 25px 50px;
  background: #f3f6fd;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  justify-content: center;
  margin-top: 45px;
}
.imageContainer {
  height: 70vh;
  background: url("../../../src/images/DimensionX/prizes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.textContainer p {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  color: #40dc96;
  text-align: center;
}
.textContainer .question {
  color: #40dc96;
  margin-top: 30px;
  font-weight: 550;
  font-size: 30rem;
  animation: scaling 1s infinite alternate linear;
}
@media (max-width: 1021px) {
  .textContainer {
    font-size: 2.5rem;
  }
  .imageContainer {
    height: 45vh;
  }
}
@media (max-width: 854px) {
  .textContainer {
    font-size: 2.3rem;
  }
}
@media (max-width: 768px) {
  .textContainer {
    margin-top: 25px;
    font-size: 2rem;
  }
}
@media (max-width: 561px) {
  .textContainer {
    margin-top: 30px;
    font-size: 1.8rem;
  }
  .imageContainer {
    height: 60vh;
  }
}
@media (max-width: 425px) {
  .textContainer {
    margin-top: 40px;
    font-size: 1.5rem;
  }
  .imageContainer {
    height: 50vh;
  }
}
