.rulesSection {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	margin-top: 200px;
}


.rulesContainer {
	background: #26201679;
    backdrop-filter: blur(50px);
    width: 80vw;
    padding: 40px;
    border-radius: 2rem;
    height: min-content;
}

.title h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: -15px;
}

.description {
    margin-top: 30px;
}


.description p:nth-child(1) {
    margin-bottom: 25px;
}

.singleCategory ol li {
	font-size: 1.2rem;
	font-weight: 500;
	color: #ffebd3;
	margin-bottom: 10px;
	margin-left: 20px;
}


.singleCategory h1{ 
    color: #46DD9A;
    font-size: 2.2rem;
}

@media screen and (max-width: 580px) {
    .image {
        display: none;
    }

    .rulesContainer {
        padding: 50px 30px;
        width: 90vw;
    }

    .rulesSection {
        margin-top: 100px;
    }
}
