.rulesSection {
	display: flex;
	flex-direction: row;
}

.image {
	width: 30vw;
	height: auto;
	object-fit: cover;
}

.rulesContainer {
	padding: 80px 80px;
	height: min-content;
	width: 70vw;
}

.title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title p {
	font-size: 1.5rem;
	font-weight: 500;
	color: #373737;
}

.title h1 {
	font-size: 3rem;
	font-weight: bold;
	color: #373737;
	margin-top: -15px;
}

.description {
	margin-top: 50px;
}

.singleCategory ol li {
	font-size: 1.2rem;
	font-weight: 500;
	color: #373737;
	margin-bottom: 10px;
	margin-left: 20px;
}

.singleCategory {
	margin-bottom: 50px;
}

.singleCategory h1{ 
    color: #46DD9A;
    font-size: 2.2rem;
}

@media screen and (max-width: 580px) {
    .image {
        display: none;
    }

    .rulesContainer {
        padding: 80px 30px;
        width: 100vw;

    }
}
