.Container {
	height: 100vh;
	padding: 25px 50px;
}
.ParaContainer {
	height: 75vh;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.Para {
	text-align: justify;
	line-height: 35px;
}
.Para:first-child {
	margin-bottom: 20px;
}

@media (max-width: 425px) {
	.Container {
		padding: 25px;
	}
	.ParaContainer {
		width: 90%;
	}
	.Para {
		font-size: 0.8rem;
		line-height: 20px;
		height: 40vh;
	}
}

@media (max-width: 380px) {
	.Para {
		line-height: 17px;
	}
}

@media (max-width: 320px) {
	.Para {
		font-size: 0.7rem;
	}
}
