.TopContainer {
	width: 100%;
	padding-left: 20px;
	color: gray;
	font-size: 1.7rem;
	font-weight: 500;
	cursor: pointer;
}
.Container {
	width: 100%;
}
/*.BottomContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.BottomContainer .Bar{
	width: 10%;
}

.BottomContainer .Bar div {
	width: 2px;
	height: 100%;
	background: gray;
}*/

.BottomContainer {
	width: 100%;
}

.BottomContainer .Text {
	width: 90%;
}

.BottomContainer .Text p {
	width: 70%;
	text-align: justify;
	border-left: 1px solid #07253a;
	margin-left: 3.2%;
	padding-left: 20px;
	color: #07253a;
}

@media (max-width: 768px) {
	.TopContainer {
		font-size: 1.5rem;
	}

	.BottomContainer .Text p {
		margin-left: 6%;
	}
}

@media (max-width: 425px) {
	.TopContainer {
		font-size: 1rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 0;
		width: max-content;
	}

	.BottomContainer .Text p {
		width: 80%;
		margin-left: 3.5%;
	}
}

@media (max-width: 375px) {
	.TopContainer {
		font-size: 0.7rem;
	}
	.BottomContainer .Text p {
		width: 80%;
		margin-left: 4%;
	}
}

@media (max-width: 320px) {
	.BottomContainer .Text p {
		margin-left: 4.5%;
	}
}
