.Container {
	height: 100vh;
	width: 100%;
	font-family: "PT Mono", monospace;
	background-color: #07253a;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.NavBar {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}

.NavBar .NavBarMenu {
	display: none;
}

.NavBar .RespNav {
	display: none;
}

.NavBar ul.PcNavbar {
	list-style: none;
	display: block;
}

.NavBar ul.PcNavbar li {
	margin-right: 45px;
	display: inline-flex;
}

.NavBar ul.PcNavbar li:last-child {
	margin-right: none;
}

.NavBar ul.PcNavbar li a {
	font-size: 1.2rem;
}

.NavBar ul.PcNavbar li:last-child a {
	text-decoration: underline;
}

.Footer {
	width: 90%;
	height: 20vh;
	margin: auto;
	padding: 10px 0;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.Footer .BottomContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
	margin-bottom: 15px;
}

.Footer .BottomContainer .Bar {
	width: 95%;
	height: 2px;
	background-color: white;
}

.Footer .BottomContainer .Ball {
	width: 7px;
	height: 7px;
	background-color: white;
}

.Footer p.FooterTopic {
	font-size: 1.2rem;
	font-weight: 700;
}

.Container::-webkit-scrollbar {
	width: 10px;
	background: white;
}

.Container::-webkit-scrollbar-thumb {
	background: #07253a;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.NavBar ul.PcNavbar li a {
		font-size: 1rem;
	}

	.NavBar ul.PcNavbar {
		width: 100%;
	}
}

@media (max-width: 445px) {
	.TempBox {
		display: none;
	}
	.NavBar ul.PcNavbar {
		display: none;
	}
	.NavBar .RespNav {
		display: block;
	}
	.NavBar .RespNav ul {
		position: absolute;
		width: 50%;
		background-color: white;
		height: 100vh;
		top: 0;
		left: 0;
		padding: 20px;
		z-index: 10;
	}
	.NavBar .RespNav li {
		display: block;
		margin-bottom: 20px;
	}

	.NavBar .RespNav li a {
		color: #07253a;
		text-align: center;
		width: 100%;
	}
	.NavBar .NavBarMenu {
		display: block;
		width: 100%;
	}
	.Footer p {
		font-size: 0.8rem;
		font-weight: 300;
	}
	.Footer p.FooterTopic {
		font-size: 1rem;
		font-weight: 700;
	}
}

@media (max-width: 320px) {
	.NavBar .RespNav ul {
		width: 55%;
	}
}
