.Container {
	height: max-content;
	padding: 25px;
}

.Container ol {
	height: max-content;
	width: 100%;
	padding: 15px;
}

.Container ol li {
	width: 100%;
	margin-bottom: 12px;
}

.Container ol li:last-child {
	margin-bottom: none;
}

@media (max-width: 425px) {
	.Container {
		padding: 25px;
	}
	.Container ol {
		padding: 20px;
	}
}

@media (max-width: 320px) {
	.Container ol {
		padding-right: 0;
		padding-left: 20px;
	}
	.Container ol li {
		width: 100%;
	}
}
