.Container {
	height: 100vh;
	padding: 25px 50px;
}

.Container ol {
	height: 65vh;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}

.Container ol li {
	width: 80%;
}

@media (max-width: 425px) {
	.Container {
		padding: 25px;
	}
}

@media (max-width: 375px) {
	.Container ol {
		height: 75vh;
	}
}

@media (max-width: 320px) {
	.Container ol li {
		width: 100%;
	}
}
