.LogoContainer {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.LogoContainer img {
  width: auto;
  height: 120px;
}

.LogoContainer p {
  text-align: center;
}

.Container {
  height: 100vh;
  padding: 25px 50px;
}

@media (max-width: 768px) {
  .LogoContainer {
    flex-direction: column;
  }
  .LogoContainer img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .Container {
    padding: 25px;
  }
  .ProjectContainer .LeaderItem {
    width: 90%;
  }
}
