.Container {
  position: relative;
  height: 100vh;
  padding: 25px 50px;
  background: #f3f6fd;
}
.Container .ContainerT {
  margin-top: 15%;
}
.Container .TimeContainer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.Container .header {
  color: #0b3757;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  margin-top: 50px;
}
.Container .submit {
  color: #0b3757;
  border: 1px solid #0b3757;
  margin-top: 70px;
  transform: scale(1.75);

  margin-bottom: 0px;
}

.Container .submit:hover {
  background-color: #f3f6fd;
  color: #0f3b5a;
  border: 1px solid #0f3b5a;
}

.Container .TimeContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  color: #0b3757;
  justify-content: center;
  flex-direction: column;
  transform: scale(1.1);
}

.Container .TimeContainer .TimeBar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Container .TimeContainer .TimeBar p {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.Container .TimeContainer h1 {
  text-align: center;
  margin-bottom: 10px;
}

.Container .TimeContainer .Dots {
  font-size: 4rem;
}
@media (max-width: 1117px) {
  .Container .TimeContainer .Dots {
    margin-bottom: 50px;
  }
}
@media (max-width: 720px) {
  .Container .header {
    font-size: 3rem;
  }
}
@media (max-width: 578px) {
  .Container .header {
    font-size: 2.4rem;
  }
  .Container .TimeContainer {
    transform: scale(0.9);
  }
}
@media (max-width: 474px) {
  .Container .header {
    font-size: 2rem;
  }

  .Container .submit {
    margin-top: 30px;
    transform: scale(1.4);
  }
  .Container .TimeContainer {
    transform: scale(0.8);
  }
}
@media (max-width: 411px) {
  .Container .header {
    font-size: 1.6rem;
  }
  .Container .submit {
    transform: scale(1.2);
  }
  .Container .TimeContainer {
    transform: scale(0.7);
  }
}
@media (max-width: 363px) {
  .Container .header {
    font-size: 1.4rem;
  }
}
