.Container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	height: 40vh;
}

.Container:first-child {
	margin-top: 20px;
}

.Container:last-child {
	margin-top: 7vh;
}

.Container h2 {
	font-size: 1.8rem;
	font-weight: 400;
	vertical-align: middle;
}
/*
.Container h1 span:first-child {
	color: #7ca9ffa1;
	font-size: 2.5rem;

}*/

.TextContainer {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}

.TextContainer .children {
	width: 97%;
	color: white;
	font-size: 1.2rem;
	font-weight: 100;
	padding-left: 15px;
}

.PendContainer {
	width: 3%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Bar {
	height: 35vh;
	width: 2px;
}

.Box {
	height: 7px;
	width: 7px;
}

@media (max-width: 768px) {
	.Container {
		height: 45vh;
	}
	.Container h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 575px) {
	.Container {
		height: max-content;
	}
}

@media (max-width: 425px) {
	.Container:last-child {
		margin-top: 5.5vh;
	}
}
