/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #F3FFF8;
}

a {
	color: rgb(41, 41, 41);
	text-decoration: none;
}

html {
    overflow-x: hidden;
} */